html, body {
    margin:0;
    padding:0;
    background-color:black;
}
#pageHeader {
    width:60%;
    height:auto;
    margin:0 auto;
    padding:10px;
    text-align: center;
    background-color:white;
    text-transform: uppercase;
}

#content {
    width:60%;
    height:auto;
    margin:0 auto;
    padding:10px;
    background-color:rgb(204, 199, 199);
    margin-bottom:50px;
   
}

#box {
    width:60%;
    background-color: rgb(245, 221, 221);
    margin:0 auto;
    vertical-align: middle;
    padding:10px;
    
}

#userPage {
    color:Black;
    font-size:20px;
    margin:10px;
   text-align: center;
}

#search {
    height:auto;
    /* background-color:gray; */
    color:black;
    font-size:20px;
    display:flex;
    justify-content:center;
    margin-bottom:10px;

    }

#searchInput {
    border:none;
    background-color:white;
    color:black;
    padding-left:10px;
}

#inputImage {
    width:35px;
    height:35px;
    border:none;
    margin:0px;
  }


.figure {
    display:block;
    justify-content: center;
    width:100%;
    height:auto;
    margin:0 auto;
    /* background-color:green; */
    text-align: center;  
    }



img {
    border-radius:50%;
    height:230px;
    border:2px solid yellow;
    background-color:red; 
}

.name, img {
    margin:0 auto;
    width:230px;
    margin-top:10px;
   }



.name {
    padding:15px;
    height:20px;
    font-size:20px;
    text-align:center;
    color:white;
    text-transform:uppercase;
    background-color:rgb(117, 108, 108);
    margin-bottom: 10px;
    
}

#row1, #row2, #row3, #row4 {
    display:flex;
    margin:0 auto;
    padding:10px;
    justify-content: space-between;
}

#row4 {
    margin-bottom:20px;
}
#row1 {
    margin-top:20px;
}

.repos, .followers, .following, .bio, .blog, .stars, .gitUrl, .location, .Tstars {
    width:320px;
    margin-top:20px;
    padding:10px;
    height:auto;
    font-size:15px;
    text-align:left;
    color:white;
    text-transform:uppercase;
    background-color:rgb(143, 94, 94);
    margin:0 10px 0 10px;
}

#pageFooter {
    position: sticky;
    width:100%;
    height:50px;
    background-color:gray;
    display:flex;
    margin:0 auto;
    color:black;
    opacity:0.6;
    z-index:3;
    justify-content: space-around;
    text-align:center;
    align-items:center;
    font-size:15px;
    top:0;
    bottom:0;
}